@import "@fontsource-variable/geist";
@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "@voidhash/ui/styles/brand-theme.css";

@source "../../../../packages/ui";
@source "../../src";

@custom-variant dark (&:is(.dark *));

::selection {
  background: var(--blue-ribbon-600);
  color: #fff;
}

:root {
  --color-fd-primary: var(--primary);
}

.dark {
  --color-fd-primary: var(--primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
