<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- `:sdk` contributes android.permission.INTERNET through its own manifest. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".NimbusApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nimbus">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Nimbus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
