###############################
###### REQUIRED ENV VARS ######
###############################

NEXT_PUBLIC_APP_DOMAIN=voidhash.com
NEXT_PUBLIC_VERCEL_ENV=development
BETTER_AUTH_SECRET=NGnjNLvIBko/ktEd2V57FS8fu0GpHwQqsw3diwtIHf4

# LOCAL DEVELOPMENT
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=user
DATABASE_PASSWORD=password
DATABASE_NAME=voidhash