# Client (Vite)
VITE_EXAMPLE_SERVER_URL=https://mimic-example-api.voidhash.localhost

# Server (connects to the mimic-db host)
HOST_URL=https://mimic.voidhash.localhost
HOST_USERNAME=root
HOST_PASSWORD=password
